/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html{
	background-color: #FFFEF8;
	position: relative;
	scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
	color: inherit;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	min-height: 100vh;
	margin:auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 20px;
	font-size: 1.2em;
}
nav li.active{
	font-weight: bold;
}
nav i {
	padding-right: 0;
	font-size: 1.5em;
}
header li:hover {
	/* color: #B1663C; */
	font-weight: bold;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	padding-right: 100px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.portfolio-title{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#portfolio h2 {
	text-align: center;
}
.filter{
	display: flex;
	justify-content: center;
	margin: 50px 0;
}
.filter button{
	background: none;
	min-width: 100px;
	border: 1px #1D6154 solid;
	border-radius: 50px;
	padding: 10px;
	font-family: 'Syne';
	color: #1D6154;
	margin-right: 10px;
	cursor: pointer;
}
.filter button:hover, .filter button.active{
	background: #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 490px;
    object-fit: cover;
}
#contact {
	width: 50%;
	margin: 50px auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer{
	height: 60px;
}
footer nav{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #FFF;
}
footer nav ul {
	max-width: 1140px;
	margin: 2em auto;
	display: flex;
	justify-content: flex-end;
	cursor: default;
}

/* modal window */
.modal{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper{
	position: relative;
	width: 630px;
	max-height: 100vh;
	box-sizing: border-box;
	background-color: #FFF;
	border-radius: 5px;
	overflow: auto;
}
.modal-wrapper .close-modal{
	position: absolute;
	right: 30px;
	top: 25px;
	font-size: 1.5em;
	cursor: pointer;
}
.modal-wrapper .fa-arrow-left{
	display: none;
	position: absolute;
	left: 30px;
	top: 25px;
	font-size: 1.5em;
	cursor: pointer;
}
.container-modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 7em;
}
.container-modal h1{
	font: inherit;
	font-size: 2em;
	color: #000;
	margin-top: 50px;
}
.container-modal .button-modal{
	font-family: 'Syne';
	font-size: 1.2em;
	font-weight: 700;
	color: white;
	width: 240px;
	height: 50px;
	margin: 25px auto;
	text-align: center;
	border: none;
	border-radius: 60px ;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modal-content{
	width: 100%;
	border-bottom: 1px #B3B3B3 solid;
}
.gallery-modal{
	width: 100%;
	padding: 25px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 25px;
}
.gallery-modal figure {
	position: relative;
	width: 100%;
}
.gallery-modal img {
	width: 100%;
	height: 110px;
    object-fit: cover;
}
.gallery-modal .fa-trash-can{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #FFF;
	background-color: #000;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}
button.button-modal{
	background-color: #1D6154;
	cursor: pointer;
}

.modal-content form {
	text-align: left;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
}
.modal-content label {
	margin: 2em 0 1em 0;
}
.modal-content .file input{
	display: none;
}
.modal-content .file{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
	background-color: #E8F1F6;
	border-radius: 3px;
}
.modal-content .file div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-content .file img{
	height: 100%;
	width: auto;
	margin: auto;
	display: none;
}
.modal-content .file .fa-image{
	font-size: 5em;
	color: #B9C5CC;
}
.modal-content .file label{
	font-size: 1.2em;
	color: #306685;
	background-color: #B9C5CC;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	margin: 0.5rem;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}
.modal-content input, .modal-content select{
	height: 50px;
	padding: 0 25px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	box-sizing: border-box;
}
.modal-content select{
    appearance: none;
    background-image: url('https://www.svgrepo.com/show/80156/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: calc(100% - 25px);
}
.modal-content input.button-modal{
	background-color: #A7A7A7;
}

/* Login page*/

#login {
	width: 50%;
	margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login a{
	display: block;
	width: 100%;
	text-decoration: underline;
}

/* edition page*/
.card-edition{
	width: 100%;
	height: 60px;
	display: none;
}
.card-edition .edition{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: #FFF;
}
.edition i{
	margin-right: 10px;
}
.portfolio-title .edition{
	position: absolute;
	right: 29%;
	display: none;
	justify-content: flex-start;
}